<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-6">
      <h2>Forgot your password?</h2>
  
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm", required: true %>
      </div>
  
      <div class="form-group">
        <%= f.submit "Send me reset password instructions", class: "btn btn-secondary" %>
      </div>
  
      <%= render "devise/shared/links" %>
    </div>
  
    <div class="col-6">
      <div class="card" style="width: 20rem;">
        <%= image_tag("nature-collage.jpg", size: "100x200", alt: "nature-collage", class: "card-img-top") %>
        <div class="card-body">
          <p class="card-text"><span class="font-italic">"Life move pretty fast. If you don't stop and look around once in a while, you could miss it"</span> - Ferris Bueller</p>
        </div>
      </div>
    </div>
  </div>
<% end %>


